/* font-family: 'Caveat', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Nanum Gothic Coding', monospace;
font-family: 'Roboto', sans-serif; */

.navbar {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 20%;
}

.background {
    background-color: aliceblue;
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 10%;
    padding-bottom: 5%;
}

#img-fluid {
    border-radius: 0 0 70% 70%;
    margin-left: 10%;
    width: 300px;
    height: 400px;

}

.scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Add more styles for your sections as needed */

/* Style for your sections */
.section {
    padding: 20px;
}

.heading-content {
    font-family: 'Lato', sans-serif;
    margin-top: 10%;
    margin-left: 10%;
    font-size: 2.8vw;
    font-weight: 800;
    color: #000;
    display: inline-block;
    transition: all 1s;

}

#intro-text {
    color: #7f4deb;
}

#intro-cursor {

    opacity: 1;
    animation: cursor-blink 0.7s infinite alternate;
}

@keyframes cursor-blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* #intro-cursor {
    font-size: 24px;
    font-family: Arial, sans-serif;
    display: inline-block;
    opacity: 1;
    animation: cursor-blink 0.7s infinite alternate;
} */

.post-heading {
    font-size: 35px;
    font-family: 'Nanum Gothic Coding', monospace;
    color: rgb(75, 75, 75);
    padding-top: 5%;
    padding-bottom: 5%;
}

.about {
    padding-bottom: 5%;
}

.about .intro {
    text-align: left;
    font-family: 'Roboto';
    margin-left: 5%;
    margin-right: 5%;
    font-weight: 200;
    font-size: 24px;
    color: rgb(75, 75, 75);

}

.experience {
    background-color: #f6f6f6;
}

.internship {
    display: flex;
    padding-bottom: 5%;
}


#ptImg {
    margin-right: 5%;
    width: 44%;
}

#internImg {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}

.card-text {
    /* padding-bottom: 5%; */
    padding-left: 5%;
    margin-right: 5%;
    font-family: 'Noto Sans', sans-serif;
}

.experience .card-text h2 {
    font-size: 28px;
    font-weight: 400;
}

.experience .card-text h4 {
    font-size: 20px;
    font-weight: 200;
}

.experience .card-text h5 {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #828282;

}

.projects {
    background-color: #eff3f3;
}

.projects .card-text h2 {
    font-size: 28px;
    font-weight: 400;
}

.projects .card-text h4 {
    font-size: 20px;
    font-weight: 200;
}

.projects .card-text h5 {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    color: #828282;
}

.internship_last {
    padding-bottom: 10%;
}

.skills {
    background-color: rgb(253, 253, 253);
}

.skill-header {
    margin-left: 5%;
    padding-bottom: 1%;
    font-size: 28px;
    font-family: 'Caveat', sans-serif;
}

.skill-boxes {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5%;

}

.skill-box {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
}

.skill-subTitle {
    font-size: 20px;
    font-family: 'Lato', sans-serif;

}

.skills .progress-bar {
    background-color: #7DB7FF;
}

.skill-others {
    font-family: 'Roboto';
    font-weight: 200;
    font-size: 28px;
    color: rgb(75, 75, 75);
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
}




.contact {
    background-color: rgb(243, 243, 243);
    padding-bottom: 10%;
}

.contact_box {
    display: flex;
}

.contact-headers {
    font-family: 'Noto Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    font-style: italic;
    display: flex;
    margin-left: 5%;
    border-right: 1px solid rgb(202, 202, 202);
    width: 45%;
    flex-direction: column;

}

.snsIcons {
    margin-left: 5%;
    display: flex;
    width: 40%;
    /* background: #000; */
    justify-content: space-evenly;
    align-items: center;
}

.contact-header {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 1%;
}


@media only screen and (max-width: 768px) {
    .background {
        height: 50vw;

    }

    #img-fluid {
        width: 25vw;
        height: 30vw;
    }

    .heading-content {
        margin-top: 5%;
        margin-right: 5%;
        font-size: 20px;

    }

    .card-text {
        padding-bottom: 1%;
    }

    .post-heading {
        font-size: 5vw;

    }

    .about .intro {
        font-size: 3vw;
    }

    .ui {
        flex-direction: column-reverse;
    }

    .ws {
        flex-direction: column;
    }

    #ptImg,
    #internImg {
        margin-left: 25%;
        width: 50%;
    }

    .experience {
        padding-bottom: 5%;
    }

    .experience .card-text h2 {
        font-size: 3.7vw;
    }

    .experience .card-text h4 {
        font-size: 2.4vw;
    }

    .experience .card-text h5 {
        font-size: 2.8vw;
    }

    .skill-header {
        font-size: 3.7vw;
    }

    .skill-subTitle {
        font-size: 3vw;
        font-family: 'Lato', sans-serif;
    }

    .skill-others {
        font-size: 3vw;
    }

    .contact-header {
        font-size: 16px;
    }

    .contact-headers span {
        display: inline;
        white-space: nowrap;
        font-size: 16px;
    }


    .contact-headers {
        width: 50%;
    }

    .snsIcons {
        width: 40%;
    }

    .snsIcons .fa {
        font-size: 4px;
    }
}